<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>timestamp serivce by verticaldata1</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>
  
  <body>
    <div class="text-center">    
      <h1>Welcome to verticaldata1's timestamp service</h1>
      <p>Usage: visiting <a href="https://verticaldata1-timestamp.glitch.me/December%2015,%202015" target="_blank">/December%2015,%202015</a>
        or <a href="https://verticaldata1-timestamp.glitch.me/1450137600" target="_blank">/1450137600</a> will return { "unix": 1450137600, "natural": "December 15, 2015" }</p>
    </div>
  </body>
  
</html>